name: discord message
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: send custom message with args
      uses: appleboy/discord-action@master
      with:
        webhook_id: ${{ secrets.917716619734695936 }}
        webhook_token: ${{ secrets.DEyE95QFUwmRk0Z09TJP51mm7xBjTYsCaidACEkzTQL5fYxnUeSou8KIFQmqhXU8kiQy }}
        args: The ${{ github.event_name }} event triggered first step.
        color: "#cd42f4"
        username: "Polifonia GitHub Bot"
        message: "A new commit has been pushed."
