name: Discord notifications
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: send custom message with args
      uses: appleboy/discord-action@master
      with:
        webhook_id: ${{ secrets.WEBHOOK_ID }}
        webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
        color: "#cd42f4"
        username: "Polifonia GitHub"
        args: The new commit has been pushed in the file ${{ github.event.commits[0].message }} from the Stories repository. Please check it at your earliest convenience. Thank you! "
